body {
  font-family: Helvetica;
  background-color: black;
}

.flat-list {
 display: flex;
 flex-wrap: wrap;
}

.flat {
 flex: 49% 0 0;
 margin: 3px;
 cursor: pointer;
 border: 6px solid transparent;
}

.flat.selected {
  border: 6px orange solid;
}

@import "card";
