body {
  font-family: Helvetica;
}

.flat-list {
 display: flex;
 flex-wrap: wrap;
}

.flat {
 flex: 49% 0 0;
 margin: 3px;
 cursor: pointer;
 border: 6px solid transparent;
}

.flat.selected {
  border: 6px red dashed;
}

@import "card";
